@using GestionHortalizasApp.entities
<div style="background-color: #1250b3; color: white; text-align: center; font-size: 1.5em; padding: 5px;">
    Presión barométrica
</div>

<Grid
    @ref="_grid"
    TItem="BarometricPressure"
    Class="table table-hover table-striped border"
    Data="BarometricPressures"
    Height="245"
    FixedHeader="true"
    AllowSorting="true"
    Unit="Unit.Px"
    Responsive="true">
    <GridColumns>
        <GridColumn
            TItem="BarometricPressure"
            HeaderText="Fecha"
            PropertyName="SoloFecha"
            SortKeySelector="item => item.SoloFecha"
        >
            @context.SoloFecha
        </GridColumn>
        <GridColumn TItem="BarometricPressure" HeaderText="Hora" PropertyName="SoloHora" SortKeySelector="item => item.SoloHora">
            @context.SoloHora
        </GridColumn>
        <GridColumn TItem="BarometricPressure" HeaderText="Temperatura" PropertyName="Temperatura" SortKeySelector="item => item.Temperatura">
            @context.Temperatura
            °C
        </GridColumn>
        <GridColumn TItem="BarometricPressure" HeaderText="Presion" PropertyName="Presion" SortKeySelector="item => item.Presion">
            @context.Presion
            hPa
        </GridColumn>
        <GridColumn TItem="BarometricPressure" HeaderText="Altitud" PropertyName="Altitud" SortKeySelector="item => item.Altitud">
            @context.Altitud
            m
        </GridColumn>
    </GridColumns>
</Grid>