@page "/"
@using MonitoreoHortalizasApp.models

<TabHeader TableTitle="Resumen de lecturas del día"/>

<!-- Dates input -->
<div class="container">
    <div class="d-flex align-items-center gap-5 mt-4">
        <label class="d-flex flex-column">
            <span>Fecha de inicio</span>
            <DateInput 
                TValue="DateTime" 
                Value="StartDate"
                ValueExpression="() => StartDate"
                Placeholder="Enter Date"
                ValueChanged="(value) => StartDateChanged(value)"
                />
        </label>
        <label class="d-flex flex-column">
            <span>Fecha de fin</span>
            <DateInput 
                TValue="DateTime" 
                Placeholder="Enter Date"
                EnableMinMax="true"
                Min="MinDate"
                Max="MaxDate"
                Disabled="@DisabledEndDate"
                @bind-Value="EndDate"
                />
        </label>
    </div>
</div>


<div class="container tables-container">
    <div class="row mt-4">
        <div class="col-sm">
            <SummaryCard
                Title="Humedad cama 1 automático"
                Value="@Bed1AverageHumidity"
                LastRead="DateTime.Now"
                Footer="Promedio"
                Symbol="%"/>
        </div>

        <div class="col-sm">
            <SummaryCard
                Title="Humedad cama 2 automático"
                Value="@Bed2AverageHumidity"
                LastRead="DateTime.Now"
                Footer="Promedio"
                Symbol="%"/>
        </div>

        <div class="col-sm">
            <SummaryCard
                Title="Humedad cama 3 manual"
                Value="@Bed3AverageHumidity"
                LastRead="DateTime.Now"
                Footer="Promedio"
                Symbol="%"/>
        </div>

        <div class="col-sm">
            <SummaryCard
                Title="Humedad cama 4 manual"
                Value="@Bed4AverageHumidity"
                LastRead="DateTime.Now"
                Footer="Promedio"
                Symbol="%"/>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm">
            <SummaryCard
                Title="Consumo agua cama 1 automático"
                Value="@Bed1WaterAmount"
                Symbol="L"
                LastRead="DateTime.Now"
                Footer="Total"/>
        </div>

        <div class="col-sm">
            <SummaryCard
                Title="Consumo agua cama 2 automático"
                Value="@Bed2WaterAmount"
                Symbol="L"
                LastRead="DateTime.Now"
                Footer="Total"/>
        </div>

        <div class="col-sm">
            <SummaryCard
                Title="Consumo agua cama 3 manual"
                Value="@Bed3WaterAmount"
                Symbol="L"
                LastRead="DateTime.Now"
                Footer="Total"/>
        </div>

        <div class="col-sm">
            <SummaryCard
                Title="Consumo agua cama 4 manual"
                Value="@Bed4WaterAmount"
                Symbol="L"
                LastRead="DateTime.Now"
                Footer="Total"/>
        </div>
    </div>

    <div class="row mt-4">
        <Grid
            @ref="_grid"
            TItem="ArduinoSerialLog"
            Class="table table-hover table-borderless"
            Data="ArduinoSerialLogs"
            Height="245"
            FixedHeader="true"
            AllowSorting="false"
            Unit="Unit.Px"
            Responsive="true">
            <GridColumns>
                <GridColumn
                    TItem="ArduinoSerialLog"
                    HeaderText="Últimos Logs"
                    PropertyName="SoloFecha">
                    @context.Log
                </GridColumn>
            </GridColumns>
        </Grid>
    </div>
</div>